
.content-venda{
	margin-top:40px;
}

.sidebar{
	float: left;
	width: 30%;
	padding-left: 10px;
}

.search1{
	width:90%;
}

.search1 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.search1 .barra-preco{
	width: 100%;
	height: 20px;
	background: white;
	border:1px solid #ccc;
	margin-top:8px;
	border-radius: 20px;
	position: relative;
}

.barra-preco-fill{
	position: absolute;
	left: 0;
	top: 0;
	width: 30%;
	height: 20px;
	border-radius: 20px;
	background:linear-gradient(to bottom,rgb(255,255,255),rgb(200,200,200));
}

.pointer-barra{
	width: 26px;
	height: 26px;
	position: absolute;
	left: calc(30% - 13px);
	top: -3px;
	cursor: pointer;
	border-radius: 8px;
	background:linear-gradient(to bottom,rgb(255,255,255),rgb(180,180,180));
	border:1px solid  #777;
}

.valor-pesquisa{
	margin-top:8px;
}

.valor-pesquisa p{
	color: black;
	font-size: 15px;
}

.valor-pesquisa p:nth-of-type(1){
	float: left;
}

.valor-pesquisa p:nth-of-type(2){
	float: right;
}

.search2{
	margin-top:40px;
}

.search2 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.form-venda-wraper{
	margin-top:10px;
}

.form-venda-wraper input[type=checkbox]{
	display: none;
}

.form-venda-wraper label{
	width: 20px;
	height: 20px;
	display: inline-block;
	border:1px solid #ccc;
	border-radius: 3px;
	vertical-align: top;
	cursor: pointer;
	position: relative;
}


.circle{
	width: 8px;
	height: 8px;
	display: none;
	border-radius: 4px;
	background: black;
	position: absolute;
	left: 6px;
	top: 6px;
}


.form-venda-wraper input[type=checkbox]:checked + label > .circle{
	display: block;
}

.form-venda-wraper span{
	padding:0 10px;
	display: inline-block;
	vertical-align: top;
}


.vitrine-venda{
	float: left;
	width: 70%;
}





.vitrine-venda .vitrine-destaque{
	margin-top:20px;
}

section.venda-single{
	padding:80px 2% 0 2%;
}

section.venda-single .container{
	padding:40px 0 0 0;
	text-align: center;
	max-width: 1280px;
}

.info-veiculo{
	display: inline-block;
	width: 60%;
}

.foto-destaque{
	width: 100%;
	padding-top:70%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.descricao-veiculo{
	vertical-align: top;
	display: inline-block;
	padding:60px 20px;
	text-align: left;
}

.descricao-veiculo p{
	font-size: 17px;
	margin-top:25px;
	max-width: 360px;
}

.descricao-veiculo a{
	margin-top:25px;
}

.nav-galeria-parent
{
	width: 100%;
	padding: 36px;
	position: relative;
}

div.container > div.info-veiculo > div.nav-galeria-parent > div.arrow-left-nav
{
	position: absolute;
	left: 8px;
	top: 50%;
	background-image: url('../imagens/arrow-left.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}

.nav-galeria
{
	overflow: hidden;
	width: 100%;
}

.nav-galeria-parent{
	width: 100%;
	padding:36px;
	position: relative;
}

.arrow-left-nav{
	position: absolute;
	left: 8px;
	top: 50%;
	cursor: pointer;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	background-image:url('../imagens/arrow-left.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}



.arrow-right-nav{
	position: absolute;
	right: 8px;
	top: 50%;
	cursor: pointer;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	background-image:url('../imagens/arrow-right.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}

.info-bread{
	padding:20px 0;
	text-align: left;
}

.info-bread a{
	text-decoration: none;
	color: black;
}

.info-bread a:last-child{
	color: red;
}

.info-bread span{
	padding:0 30px;
}

.nav-galeria{
	overflow: hidden;
	width: 100%;
}

.nav-galeria-wraper{
	width: 200%;
}

.mini-img-wraper{
	float: left;
	padding:9px;
	width:calc(33.3% * (100 / 200));
}

.mini-img{
	cursor: pointer;
	width: 100%;
	cursor: pointer;
	padding-top:70%;
	background-position: center;
	background-size: cover;
	background-color:green;
}

@media screen and (max-width: 769px)
{
	.vitrine-venda
	{
		float: left;
		width: 100%;
		text-align: center;
	}

	.sidebar
	{
		width: 100%;
		text-align: center;
		padding-left: 0;
	}

	.search1
	{
		display: inline-block;
	}

	.search2
	{
		display: inline-block;
		text-align: left;
	}
}